

header {
  color: black;
  margin: 12px;
  text-align: center;
  font-size: 1.8em;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}


code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 13px;
  margin: 9px;
  border-radius: 6px;
}