
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #4d4e53;
}
li {
    list-style: none;
}
a:link,
a:visited{
    text-decoration: none;
    color: #4d4e53;
}
/* Setup */

/* Side Bar */
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    min-width: 29rem;
    height: 100%;
    border-right: .1rem solid rgba(0, 22, 22, 0.4);
}
#navbar header {
    color: black;
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
}
#navbar ul {
    overflow: auto;
    height: 88%;
}
#navbar li {
    border-top: .1rem solid black;
    width: 100%;
}
.nav-link{
    display: block;
    cursor: pointer;
    padding: 1rem 3rem;
}
/* Side Bar */

/*Main Doc*/
#main-doc{
    position: absolute;
    padding: 2rem;
    margin-left: 30rem;
    font-size: 1.4rem;
}
#main-doc header {
    text-align: left;
    margin: 0px;
    color: black;
    margin: 12px;
    font-size: 3rem;
    margin-bottom: 1.6rem;
}
p {
    color: #4d4e53;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;

}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 13px;
  margin: 9px;
  border-radius: 6px;
}
#main-doc ul {
    padding-left: 8rem;
}
#main-doc li {
    list-style: disc;
}
#main-doc a:link {
    color: blue;
    text-decoration: underline;
}
#main-doc a:visited {
    color: rgb(226, 45, 211);
    text-decoration: underline;
}
/*Main Doc*/
